<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>
    <a href="/pets/new">New Pet</a>

  </div>
  <h1 class="header">Shelter Details</h1>
  <p>Name: <%= @shelter.name %><p>
  <p>Address: <%= @shelter.address %><p>
  <p>City: <%= @shelter.city %><p>
  <p>State: <%= @shelter.state %><p>
  <p>Zip: <%= @shelter.zip %><p>
  <a class="edit" href="/shelters/<%= @shelter.id%>/pets">See Adoptable Pets!</a>
<br><br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>
  <form class="delete-form" action="/shelters/<%= @shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="delete_button" value="delete"/>
  </form>
</div>
