<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>


  </div>
  <h1 class="header">Shelter Details</h1>
  <h2 class="bold">Name: <%= @shelter.name %></h2>
  <p class="bold"> Pet Count: <%= @shelter.pets.count %></p>
  <p class="bold">Address: <%= @shelter.address %></p>
  <p class="bold">City: <%= @shelter.city %></p>
  <p class="bold">State: <%= @shelter.state %></p>
  <p class="bold">Zip: <%= @shelter.zip %></p> <br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a></p>

  <a class="edit" href="/shelters/<%= @shelter.id%>/pets">See Adoptable Pets!</a>
<br><br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>

  <% if @shelter.pets.count == 0 %>
  <section class="delete-form">
    <%= button_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %>
  </section>
  <% else %>
  <p class="italics">Cannot delete shelter while it has pets</p>
  <% end %>

</div>
