<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>


  </div>
  <h1 class="header">Shelter Details</h1>
  <h2 class="bold">Name: <%= @shelter.name %></h2>
  <p class="bold">Address: <%= @shelter.address %></p>
  <p class="bold">City: <%= @shelter.city %></p>
  <p class="bold">State: <%= @shelter.state %></p>
  <p class="bold">Zip: <%= @shelter.zip %></p>
  <a class="edit" href="/shelters/<%= @shelter.id%>/pets">See Adoptable Pets!</a>
<br><br>
  <p><a class="edit" href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>
  <form class="delete-form" action="/shelters/<%= @shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="delete_button" value="delete"/>
  </form>
</div>
