<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a class="active" href="/pets">Pets</a>
    <a href="/pets/new">New Pet</a>

  </div>

  <h1>PETS!</h1>
  <% @pets.each do |pet| %>
  <ul>
    <li class="pet-list">
      <h2><a class="pet-link" href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
      <!-- <p><a class="pet-edit" href="/pet/<%= pet.id %>/edit">Update Pet</a></p>
      <form action="/pets/<%= pet.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form> -->
    </li>
  </ul>
  <% end %>


</div>
