<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a class="active" href="/pets">Pets</a>
    <a href="/pets/new">New Pet</a>

  </div>

  <h1>PETS!</h1>
  <% @pets.each do |pet| %>

  <div class="pet-list">

      <img class="pet-image-small" src="<%= pet.image %>" alt="<%= pet.name %> image"> <p>
      <h2><a class="pet-link" href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
      <p>Approximate Age: <%= pet.age %><p>
      <p>Sex: <%= pet.sex %><p>
      <p>Name of Shelter: <%= pet.shelter %><p>
      <a class="edit" href="/pets/<%= pet.id %>/edit">Update Pet</a><br><br>
      <form class= "delete-form" action="/pets/<%= pet.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="delete_button" value="Delete"/>
      </form>


  </div>
  <br>

  <% end %>


</div>
