<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>
    <a href="/pets/new">New Pet</a>
  </div>

  <h1>Pet Details</h1>
  <img class="pet-image" src="<%= @pet.image %>" alt="<%= @pet.name %> image"> <p>
  <h3>Name: <%= @pet.name %></h3>
  <p>description: <%= @pet.description %><p>

  <p>Approximate Age: <%= @pet.age %><p>
  <p>Sex: <%= @pet.sex %><p>
  <p>Name of Shelter: <%= @pet.shelter %><p>

</div>
