<div class="background">
  <img src="https://wallpaperaccess.com/full/783057.jpg" alt="kitten">
</div>

<div class="content">
  <div class="main_menu">
    <a href="/">Main</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelters/new">New Shelter</a>
    <a href="/pets">Pets</a>
  </div>

  <h1 class="header">Pet Details</h1>
  <img class="pet-image" src="<%= @pet.image %>" alt="<%= @pet.name %> image"> <p>
  <h3>Name: <%= @pet.name %></h3>
  <p>Description: <%= @pet.description %></p>
  <p>Shelter: <a class="shelter-link hover" href="/shelters/<%= @pet.shelter_id %>"><%= @pet.shelter.name %></a></p>
  <p>Approximate Age: <%= @pet.age %><p>
  <p>Sex: <%= @pet.sex %><p>

  <p>Adoption status: <%= @pet.adoption_status %></p>
  <% if @pet.adoptable %>
    <%= button_to "Change to Adoption Pending", "/pets/#{@pet.id}/pending", method: :patch %>

  <% elsif !@pet.adoptable %>
  <%= button_to "Change to Adoptable", "/pets/#{@pet.id}/adoptable", method: :patch %>

    <% end %><br><br>

  <a class="edit" href="/pets/<%= @pet.id %>/edit">Update Pet</a><br><br>

  <section class="delete-form">
    <%= button_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %>
  </section> <br><br>



</div>
